
form {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Arial", sans-serif;
    transition: border 0.3s ease-in-out;
  }
  
  form input:focus,
  form textarea:focus {
    border-color: #007bff;
    outline: none;
  }
  
  form button {
    background-color: #2b313604;
    color: rgb(208, 14, 14);
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  form button:hover {
    background-color: #04070a;
  }
  
  